In [64]:
import pandas as pd

In [65]:
manga_path = "MAL-manga.csv"
anime_path = "MAL-anime.csv"

manga_df = pd.read_csv(manga_path)
anime_df = pd.read_csv(anime_path)

In [66]:
manga_df = manga_df.drop(columns=['Unnamed: 0', 'page_url',"image_url"])
manga_df = manga_df.rename(columns={"Rank":"Manga Rank","Members":"Manga Votes","Score":"Manga Score"})
manga_df.head()

,Title,Manga Rank,Type,Volumes,Published,Manga Votes,Manga Score
0,City Hunter,460,Manga,35,Feb 1985 - Nov 1991,14690,8.16
1,Keijo!!!!!!!!,4532,Manga,18,Jul 2013 - Apr 2017,12689,7.31
2,Rain,1808,Manga,?,Nov 2008 -,12021,7.67
3,Hidari no Futari,17377,One-shot,?,2011 - 2011,1010,5.95
4,Odd Girl Out,953,Manhwa,?,May 2015 -,4968,7.90

In [67]:
anime_df = anime_df.drop(columns=['Unnamed: 0', 'page_url',"image_url"])
anime_df = anime_df.rename(columns={"Rank":"Anime Rank","Members":"Anime Votes","Score":"Anime Score","Type":"Adaptation Type"})
anime_df.head()

,Title,Anime Rank,Adaptation Type,Episodes,Aired,Anime Votes,Anime Score
0,Net-juu no Susume,1568,TV,10,Oct 2017 - Dec 2017,450968,7.55
1,Neon Genesis Evangelion: The End of Evangelion,99,Movie,1,Jul 1997 - Jul 1997,883576,8.55
2,Templex,11445,Movie,1,2015 - 2015,538,5.29
3,s.CRY.ed,2248,TV,26,Jul 2001 - Dec 2001,81283,7.36
4,Toaru Majutsu no Index-tan III,6679,Special,2,Dec 2018 - Apr 2019,11370,6.44

In [68]:
merged_df = pd.merge(anime_df, manga_df, on="Title")
merged_df.head()

,Title,Anime Rank,Adaptation Type,Episodes,Aired,Anime Votes,Anime Score,Manga Rank,Type,Volumes,Published,Manga Votes,Manga Score
0,Net-juu no Susume,1568,TV,10,Oct 2017 - Dec 2017,450968,7.55,4230,Manga,?,Oct 2013 - Jul 2015,5893,7.34
1,s.CRY.ed,2248,TV,26,Jul 2001 - Dec 2001,81283,7.36,11502,Manga,5,May 2001 - Apr 2002,2106,6.78
2,Banana Fish,133,TV,24,Jul 2018 - Dec 2018,814329,8.48,74,Manga,19,Apr 1985 - Mar 1994,52440,8.63
3,Romantic Killer,524,ONA,12,Oct 2022 - Oct 2022,159661,8.06,5801,Manga,4,Jul 2019 - Jun 2020,4953,7.20
4,Keijo!!!!!!!!,4285,TV,12,Oct 2016 - Dec 2016,389224,6.93,4532,Manga,18,Jul 2013 - Apr 2017,12689,7.31

In [74]:
merged_df.to_csv("same_title_adaptations.csv")